<%- model_class = Log -%>
<div class="page-header">
  <h1>Uscite</h1>
</div>
<script type="text/javascript">
  $(function() {
    $('table#uscite').visualize({type: 'pie', width: '450px', height: '300px', pieMargin: 10});
  });
</script>
<table class="table table-striped" id="uscite" style="margin-bottom: 40px">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:category_id) %></th>
      <th><%= model_class.human_attribute_name(:valore) %></th>
    </tr>
  </thead>
  <tbody>
    <% @uscite.each do |k,v| %>
      <tr>
        <th><%= k  %></th>
        <td><%= v %></td>
      </tr>
    <% end %>
  </tbody>
</table>
